services:
 db:
   image: mysql:latest
   container_name: mysql
   ports:
     - "3306:3306"
   environment:
     MYSQL_ROOT_PASSWORD: root
     MYSQL_DATABASE: psru_booking
     MYSQL_ROOT_HOST: "%"
   volumes:
     - db:/var/lib/mysql
volumes:
  db: {}